<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Przepisowo - najlepsze przepisy</title>
    <style>
        .container {
            float: left;

        }
    </style>
</head>
<body>
<a href="/weather">Pogoda</a>
<div class="container">
    <h1>Przepisowo - najlepsze przepisy</h1>
    <a th:href="@{/recipes/new}">Dodaj nowy przepis</a>
    <hr>
    <div class="posts-container">
        <div class="post" th:each="recipe : ${recipe}">
            <h2><a th:href="@{'/recipes/' + ${recipe.id}}" th:text="${recipe.title}">Nazwa przepisu</a></h2>
            <h4 th:text="'Autor przepisu:' + ${recipe.account.firstName}">Autor przepisu:</h4>
            <h4 th:text="'Opublikowano dnia ' + ${recipe.created_time}">Opublikowano dnia:</h4>
            <p th:text="${recipe.text}">Opis przepisu</p>
            <br>
        </div>
    </div>
    <a th:href="@{/register}">Rejestracja</a>
    <a th:href="@{/login}">Logowanie</a>
</div>

</body>
</html>