<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

<div class="container">
<form action="#"
      th:action = "@{/login}"
      method="POST">
    <div class>
        <label for = "email">Email</label>
        <input id ="email" type="text" name="email" placeholder="Email">
    </div>
    <div class>
        <label for = "password">Haslo</label>
        <input id ="password" type="password" name="password" placeholder="Haslo">
    </div>
    <button type="submit">Login!</button>

</form>

</div>

</body>
</html>
