<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rejestracja</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="card">
        <div class="card-body">
            <hr />
            <a th:href="@{/}" class="home-link">Home</a>
            <h2 class="registration-header">Zarejestruj</h2>
            <form action="#" th:action="@{/register}" th:object="${account}" method="POST" class="registration-form">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input id="firstname" type="text" th:field="*{firstName}" placeholder="Imię" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input id="lastname" type="text" th:field="*{lastName}" placeholder="Nazwisko" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" th:field="*{password}" placeholder="Hasło" class="form-control"/>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Register!</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>